@import './App.scss';

.nav {
background-color: var(--dark);
max-width: 1440px;
margin: 0 auto;
//max-width: 1440px;
}

#brandLogo {
  height: 50%;
  width: 60px;
  border-radius: 15px;
}

.logo {
margin-left: 15px;
}


.nav-link {
    position: relative; 
    text-decoration: none !important;
    margin: 10px 20px;
  
    &:hover {
      color: var(
        --warning
      ) !important; 
    }
  
    &::before {
      content: ">";
      position: absolute;
      left: -0.5rem; 
      top: 50%; 
      transform: translateY(-50%); 
      opacity: 0; 
      transition: opacity 0.2s ease, left 0.2s ease; 
      color: var(--warning) !important;
    }
  
    &:hover::before {
      opacity: 1; 
      left: -1rem; 
    }
  }

  .links {
    margin-left: auto !important;   
  
  }

  .shopLink {
    border: 1px solid var(--warning);
    color: var(--warning);
    border-radius: 15px;
  }