@import './App.scss';


#primary-section {
    margin: 0 auto !important;
    background: url('../Images/pexels-823sl-2294361\ \(1\).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;    
}



